<div class="container-fluid" id="TheBigOne">
    <div id="aboutSection" class="row">
        <p>Welcome to Neko Atsume Cat Adoption Agency, where we put good cats in good homes. 
            Here you will find the finest quality kitties to fill your home with love and lots of hair!
            We currently offer a wide selection of bundles of joy and we hope you take the time to find a furry friend whose personality matches your own.
            Once you register and make your account, you'll be well on your way to making a large and life changing decision. Choose wisely!
        </p>
    </div>
</div>