<div class="container-fluid" id="colorblock0">
    <div id="registerSection" class="row">
      <h1>Sign Up Here!</h1>
      <!--Bootstrap Form - Names Section-->
      <div class="row form-group">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <!--Username, Password Section-->
          <div class="form-group">
            <label for="username">Your New Username</label>
            <input class="form-control" type="text" name="username" id="newUsername"/>
        </div>
        <div class="form-group">
            <label for="password">Your New Password</label>
            <input class="form-control" type="text" name="password" id="newPassword"/>
        </div>
      </div>
      <!--End, Names Section-->
      <button class="btn btn-primary" id="register">Add me!</button>
    </div>
</div>



<!--
  Trying to find a way to do the color-blocked backgrounds:
  https://getbootstrap.com/docs/4.0/components/card/ <-- more flexibility with size
  https://getbootstrap.com/docs/4.0/layout/overview/ <-- spans entire page, which is what I want


  Other places I'm looking for styling ideas:
  https://getbootstrap.com/docs/4.0/components/navbar/
  https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
-->