*{
    background-color: #3f2914;
}

input:focus{
    color:#3f2914;
    background-color: #3f2914;
}

button{
    color: #3f2914;
}

/* Nonstandard attribute styling*/
::placeholder{
    color: #ffe066;
    opacity: 0.5;
}

/* Styling by Class*/
.container-fluid{
    background-color: #3f2914;
    border-radius: 5px;
}

.yellowtext{
    color: #ffe066;
}

.container-fluid{
    padding: 25px;
}

/* Registration Form Sytling */
.form-control{
    color: #ffe066;
    opacity: 0.8;
    border-color: #ffe066;
}

.form-control:active{
    color: #ffe066;
}

.form-control:focus{
    color: #ffe066;
    opacity: 1;
}

.form-control:visited{
    color: #ffe066;
    opacity: 1;
}

/* Styling by ID */
#register{
    color: #ffe066;
    border-color: #ffe066;
}

#register:active{
    color: #ffe066;
    background-color: #3f2914;
}

#register:hover{
    color: #3f2914;
    background-color: #ffb3da;
}

/* dropdown menu */
#profileSelection{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 0.8;
}

#profileSelection:hover{
    background-color: #3f2914;
    opacity: 1;
}

#profileSelection:visited{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 1;
}

/* Age Input*/
#userAge{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 0.8;
    padding-left: 20px;
}

#userAge:hover{
    background-color: #3f2914;
    opacity: 1;
}

#userAge:visited{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 1;
}

/* First and Last Name */
#userAge{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 0.8;
    padding-left: 20px;
}

#userAge:hover{
    background-color: #3f2914;
    opacity: 1;
}

#userAge:visited{
    color: #ffe066;
    background-color: #3f2914;
    opacity: 1;
}