<div class="container-fluid">
    <div id="registerSection" class="row">
        <div class="col-sm">
            <br>
            <h2 class="yellowtext">Sign Up Here!</h2>
            <br>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="FirstName" id="FirstName">
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="LastName" id="LastName">
                    </div>
                </div>
                <!-- <form> -->
                    <div class="row">
                        <div class="form-group col-md-5">
                        <!-- <label for="inputEmail4">Username</label> -->
                        <br/>
                        <input type="email" class="form-control" placeholder="username" id="inputUsername">
                        </div>
                        <br/>
                        <div class="form-group col-md-5">
                        <!-- <label for="inputPassword4">Password</label> -->
                        <br/>
                        <input type="password" class="form-control" placeholder="password" id="inputPassword4">
                        </div>
                        <br/>
                        <div class="form-group col-1">
                        <!-- <label for="quantity">Age</label> -->
                        <br/>
                        <input type="number" class="form-control" placeholder="Age" id="userAge" min="18"> <!--setting min age to 18 for adoptions Need to enforce this with TypeScript.-->
                        </div>
                        <!-- <div *ngFor="let p of catprofilepic">
                            <span>
                                <input type="image" src={{p}} alt="profilePic1" width="48" height="48" id="profilePic1">
                                <input type="radio" class="radios" id="radio{{catprofilepic.indexOf(p)}}" value={{catprofilepic.indexOf(p)}}>
                            </span>
                        </div> -->

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item">0</a>
                                  <a class="dropdown-item">1</a>
                                  <a class="dropdown-item">2</a>
                                  <a class="dropdown-item">3</a>
                                  <a class="dropdown-item">4</a>
                                </div>
                            </div>
                    </div>
                <button type="submit" class="btn btn-outline form-group" id="register" ngDefaultControl (click)="onSave($event)">Add me!</button>
            <!-- </form> -->
        </div>
    </div>
</div>

<!--
  Trying to find a way to do the color-blocked backgrounds:
  https://getbootstrap.com/docs/4.0/components/card/ <-- more flexibility with size
  https://getbootstrap.com/docs/4.0/layout/overview/ <-- spans entire page, which is what I want


  Other places I'm looking for styling ideas:
  https://getbootstrap.com/docs/4.0/components/navbar/
  https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
-->