<div class="container-fluid" id="GrandPoobah">
    <nav class="navbar navbar-light navbar-expand-sm">
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="register">Sign Up</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="aboutus">About Us</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="homepage">Home</a>
        </span>
    </nav>
</div>