<div class="container-fluid" id="GrandPoobah">
    <nav class="navbar navbar-light navbar-expand-sm">
        <span class="nav-item">
            <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </span>
        <span class="nav-item">
            <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="register">Sign Up</a>
        </span>
        <span class="nav-item">
            <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="aboutus">About Us</a>
        </span>
        <span class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="homepage">Home</a>
        </span>
        <span class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="logout">Logout</a>
        </span>
        <span class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="catprofiles">Cat Profiles</a>
        </span>
        <span class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="profile">User Profile</a>
        </span>
    </nav>
</div>