*{
    font-family:"ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    color:#3f2914;
    text-align: right;
    border-radius: 5px;
    padding-right: 10px;
}

#GrandPoobah{
    background-color: #3f2914;
}

.navbar-light{
    background-color: #3f2914;
}

.nav-link{
    border-radius: 20px;
}

a:link {
    color:rgb(63,41,20);
    background-color: #ffb3da;
    text-decoration: none;          /* gets rid of automatic underlining for links */
}

a:hover {
    /* background-color: #ffb3da; */
    background-color: #ffe066;
  }

/* a:visited {
    background-color: #bfbfbf;
    opacity: 0.3;
  } */