<div class="container-fluid" id="colorblock0">
    <br>
    <h3>ようこそ(Welcome)</h3>
    <p>Before you go on to adopt a cat, here's some guidelines on how our application works:
    You can see all of the cats that have and haven't been adopted on the Cat Profiles page.
    All of the cats in our system cost a certain amount of points and you can only adopt the cat(s) you want once you have enough points.
    You can earn points by logging in or completing tasks on your User Profile.
    Once you're logged in, you can add a task to your task list on your User Profile page.
    Once you've completed a task, just click the little checkbox next to the description of the task.
    For every login, you earn 10 points. For every task completed, you earn 20 points.
    Once you have enough points for the cat(s) you want to adopt, please go back to the Cat Profiles page to adopt your new fur-end(s)!
    </p>
    <br>
</div>