#colorblock0{
    background-color: #3f2914;
    border-radius: 5px;
    line-height: 180%;
}

h3{
   color: #ffe066;
   padding: 10px;
   padding-left: 15px;
}

p{
    color: #ffe066;
    padding: 10px;
    padding-left: 15px;
}