#colorblock0{
    background-color: #3f2914;
}

#colorblock1{
    background-color: #80fdff;
}

#colorblock2{
    background-color: #3a3a3a;
}

#colorblock3{
    background-color: #ffb3da;
}

h3{
   color: #ffe066;
}

p{
    color: #ffe066;
}