*{
    font-family:"ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

/* a:link {
    color:rgb(63,41,20);
    text-decoration: none;
}

a:hover {
    background-color: #ffb3da;
  } */