#profileImage{
  float:left;
    border: 5px solid black;
    padding: 2px;
    margin:10px;
    background-color: #3f2914;
    border-radius: 5px;
}
img{
  height: 10%;
  width: 10%;
  border-radius: 5px;
}

.grid-container{
    margin-top: 3em;
    /* display: inline-grid; */
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    border-radius: 5px;
    /* padding-block-end: 50px;
    padding-block-start: 50px; */
}

#catName{
  text-align: left;
}

.container{
  /* background-color: #3f2914; */
  padding-bottom: 5px;
  border-radius: 5px;
  padding-block-start: 15px;
}

.container-fluid{
  background-color: #3f2914;
  border-radius: 5px;
  padding-block-end: 50px;
}

.userTask{
    text-align: center;
    /* margin-left: 2em */
    margin: 20px;
    border: 5px solid black;

    /* border-style: solid; */
    /* border-radius: 0.5em; */
    border-radius: 5px;
    width: 100%;
    height: 80px;
    /* background-color: grey; */
    background-color: #3f2914;
}

h3{
  text-align: center;
  color: #ffe066;
  background-color: #3f2914;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}



input{
  float: left;
  margin: 10px;
  /* right:0px; */
}


/* You get to stay. You're not gross. */
p{
  margin: auto;
  color: #ffe066;
  background-color: #3f2914;
  padding-left: 15px;
  padding-top: 1px;
  border-radius: 5px;
  text-align: left;
  column-width: 100px;
}

#userStuff{
  background-color: #3f2914;
}
