#profileImage{
  float:left;
  border: 5px solid black;
  padding: 2px;
  margin:10px;
  background-color: #3f2914;
  border-radius: 5px;
}

.grid-container{
  margin-top: 3em;
  padding-top: 15px;
  padding-bottom: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  border-radius: 5px;
  border-left: 50px;
  background-color: #3f2914;
  text-align: center;
}

.container{
  padding-bottom: 5px;
  border-radius: 5px;
  padding-block-start: 15px;
}

.container-fluid{
  margin: 0 auto;
  background-color: #3f2914;
  border-radius: 5px;
  padding-block-end: 50px;
}

.userTask{
  margin: 20px;
  border: 5px solid black;
  border-radius: 5px;
  width: 100%;
  height: 80px;
  background-color: #3f2914;
}

h3{
  text-align: center;
  color: #ffe066;
  background-color: #3f2914;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

img{
  height: 10%;
  width: 10%;
}

input{
  float: left;
  margin: 10px;
}

p{
  margin: auto;
  color: #ffe066;
  background-color: #3f2914;
  padding-left: 15px;
  padding-top: 1px;
  border-radius: 5px;
  text-align: left;
  column-width: 100px;
  white-space: nowrap;
}

#catName{
  text-align: left;
}

#userStuff{
  background-color: #3f2914;
}

#litButton{
  color: #ffe066;
  background-color: #3f2914;
  border-color: #ffe066;
}

#litButton:hover{
  color: #3f2914;
  background-color: #ffb3da;
}
