<!-- <p>user-profile works!</p> -->
<div class="container" id="userStuff">
  <img src="assets/dottie.png" alt="A cute little kitty" id="profilePicture">
  <p id="username">dottiefan123</p>
  <p id="firstName">Dodie</p>
  <p id="userAge">69</p>
</div>
<div class="container-fluid">
  <h3>Tasks I Need To Get To:</h3>
  <div class="grid-container">
    <div class="userTask">
      <input type="checkbox" id="taskCompletedBool">
      <p>task 1</p>
    </div>
      <div class="userTask">
        <input type="checkbox" id="taskCompletedBool">
        <p>task 2</p>
      </div>
  </div>
</div>
