<!-- <p>user-profile works!</p> -->
<div class="container" id="userStuff">
  <img [src]="user.profileImage" alt="A cute little kitty" id="profilePicture">
  <p id="username">{{user.username}}</p>
  <p id="firstName">{{user.firstName}}</p>
  <p id="userAge">{{user.age}}</p>
</div>
<div>
  <button></button>

</div>
<div class="container-fluid">
  <h3>Tasks I Need To Get To:</h3>
  <div>
    <input class="input" type="text" placeholder="description" id="litInput" [(ngModel)]="input"/>
    <button class="btn btn-light" id="litButton" (click)="addTask()">Add Task</button>
  </div>
  <div class="grid-container">
    <div class="userTask" *ngFor="let t of tasks">
      <input type="checkbox" id="t.tasks">
      <p>{{t.description}}</p>
    </div>
  </div>
</div>
