<div class="container">
  <div class="row">
    <input class="col" type="text" [(ngModel)]="input" />
    <button class="btn btn-primary" (click)="getCats()">Favorite Cat?</button>
    <button class="btn btn-primary" (click)="getAllCats()">Get All Cats</button>
  </div>
  <!--TABLE WILL NOT SHOW UNLESS TRUTHY VALUE-->
  <table class="table" *ngFor="let cat of cats">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Desciption</th>
        <th scope="col">Personality</th>
        <th scope="col">Power Level</th>
        <th scope="col">Cat Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cat.CatName}}</td>
        <td>{{cat.CatDescription}}</td>
        <td>{{cat.CatPersonality}}</td>
        <td>{{cat.CatPowerLevel}}</td>

        <td><img src="{{cat.CatImage}}" /></td>
      </tr>
    </tbody>
  </table>
</div>
