.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 250px;
  width: 100%;
  background-color: #ffe066;
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

  button:hover, a:hover {
    opacity: 0.7;
  }


