<div class="container">
  <div class="row">
    <input class="col" type="text" [(ngModel)]="input" />
    <button class="btn btn-primary" (click)="getCats()">Favorite Cat?</button>
  </div>
  <div >
    <div class="card" *ngFor="let cat of cats">
      <img src="{{cat.CatImage}}"  style="width:38%; height:50%;">
      <p *ngIf="hide" id="catId">{{cat.CatId}}</p>
      <h3 id="catName">{{cat.CatName}}</h3>
      <p class="title">{{cat.CatDescription}} ({{cat.CatPersonality}})<br />
      <span id="powerLevel"> Worth: {{cat.CatPowerLevel}} pts</span>
      <button class="btn btn-primary btn-sm float-right" (click)="adopt()">Adopt</button>
      </p>
    </div>
    <br />
  </div>
</div>
