.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 250px;
  width: 100%;
  background-color: #ffe066;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button{
  color: #ffe066;
  background-color: #3f2914;
  border-color: #ffe066;
}

button:hover, a:hover {
  color: #3f2914;
  background-color: #ffb3da;
  opacity: 0.7;
}

h3{
    font-size: 150%;
}

/* #menuBar{
  background-color: #3f2914;
  color: #ffe066;
}

#sort-by{
  background-color: #3f2914;
  color: #ffe066;
  padding-left: 15px;
} */
