*{
    background-color: #3f2914;
    padding: 10px;
    border-radius: 5px;
}
.loginText{
    color: #ffe066;
}

.yellow{
    color: #ffe066;
    padding-top: 25px;
}

#login{
    color: #ffe066;
    border-color: #ffe066;
}

#login:hover{
    color: #3f2914;
    background-color: #ffb3da;
}

#colorblock1{
    padding-left: 25px;
}