<p>register works!</p>

<div id="registerSection" class="row">
    <div class="col">
        <h1>Sign Up Here!</h1>
            <div class="form-group">
                <label for="newUsername">Your New Username</label>
                <input class="form-control" type="text" name="newUsername" id="newUsername"/>
            </div>
            <div class="form-group">
                <label for="newPassword">Your New Password</label>
                <input class="form-control" type="newPassword" name="newPassword" id="newPassword"/>
            </div>

            <button class="btn btn-primary" id="register" onclick="registerFunction()">Add me!</button>
    </div>
</div>